.search {
  height: 40px;
  display: flex;
  align-items: center;
  width: 80%;
}
.search > input {
  width: 100%;
  height: 25px;
  border-radius: 3px 0px 0px 3px;
  border: 0px;
}
.search > a{
  padding-top: 5px;
  width: 80px;
}
.logo {
  width: 50px;
  margin-right: 3%;
}

.container {
  background-color: rgb(255 229 0);
  display: flex;
  justify-content: center;
}
.searchIcon {
  width: 17px;
}

button {
  border: 0px;
  width: 28px;
  height: 27px;
  border-radius: 0px 3px 3px 0px;
}
